.FO-main {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  .imgHead {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
          width: 202px;
      height: 69%;
    }
  }
}
.infohead {
  display: flex;
  align-items: center;
}
